@font-face {
	font-family: 'FuturaDemiC';
	src: url('../fonts/FuturaDemiC.eot');
	src: local('../fonts/Futura Demi Cyrillic'), local('FuturaDemiC'),
		url('../fonts/FuturaDemiC.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FuturaDemiC.woff') format('woff'),
		url('../fonts/FuturaDemiC.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'FuturaMediumC';
	src: url('../fonts/FuturaMediumC.eot');
	src: local('../fonts/Futura Medium Cyrillic'), local('FuturaMediumC'),
		url('../fonts/FuturaMediumC.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FuturaMediumC.woff') format('woff'),
		url('../fonts/FuturaMediumC.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'FuturaLightC';
	src: url('../fonts/FuturaLightC-Italic.eot');
	src: local('../fonts/Futura Light Italic Cyrillic'), local('FuturaLightC-Italic'),
		url('../fonts/FuturaLightC-Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FuturaLightC-Italic.woff') format('woff'),
		url('../fonts/FuturaLightC-Italic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'FuturaMediumC';
	src: url('../fonts/FuturaMediumC.otf');
	src: url('../fonts/FuturaMediumC-Italic.eot');
	src: local('../fonts/Futura Medium Italic Cyrillic'), local('FuturaMediumC-Italic'),
		url('../fonts/FuturaMediumC-Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FuturaMediumC-Italic.woff') format('woff'),
		url('../fonts/FuturaMediumC-Italic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'FuturaLightC';
	src: url('../fonts/FuturaLightC.eot');
	src: local('../fonts/Futura Light Cyrillic'), local('FuturaLightC'),
		url('../fonts/FuturaLightC.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FuturaLightC.woff') format('woff'),
		url('../fonts/FuturaLightC.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'FuturaDemiC';
	src: url('../fonts/FuturaDemiC-Italic.eot');
	src: local('../fonts/Futura Demi Italic Cyrillic'), local('FuturaDemiC-Italic'),
		url('../fonts/FuturaDemiC-Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FuturaDemiC-Italic.woff') format('woff'),
		url('../fontss/FuturaDemiC-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}